<% provide(:title,"Help")%>
<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
	</head>
	<body>
		<h1>Help</h1>
		<p>Students: Select the submit application button and fill out all required areas. 
			An email will be sent to your school address alerting you to the status of your request.</p>
			<br />
		<p>
			Administrators: Input your username and password to check the requests.
		</p>
	</body>
</html>

