<% provide(:title,"Home")%>
<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
	</head>
  <body>
    <div class="center jumbotron">
    	<h1>Room Request Station</h1>
    	<%= link_to "Submit Request", '#', class: "btn btn-large btn-primary" %>
    </div>
  </body>
</html>